<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Do you really think that you would find help while using MOBNET?! Go back to
  <a href="http://www.facebook.com">Facebook</a>.
  By the way I know
  <a href="http://www.railstutorial.org/book">who needs help</a>.
</p>